Hola

<app-mostrar-imagen [imagen]="imagen"></app-mostrar-imagen>
<app-mostrar-imagen [imagen]="imagen2"></app-mostrar-imagen>
<app-mostrar-imagen [imagen]="imagen3"></app-mostrar-imagen>
<app-mostrar-imagen [imagen]="imagen4"></app-mostrar-imagen>
<app-mostrar-imagen [imagen]="imagen5"></app-mostrar-imagen>
{{elementosGuardados.length}}
<section>
<fieldset>
    <label for="">Nombre de la Imagen</label>
    <input type="text" name="nombre" [value]="nuevoHistorial.nombre" (input)="cambiarNombre($event)"> <p>{{ nuevoHistorial.nombre}}</p>
</fieldset>
<fieldset>
    <label for="">Detalle de la Imagen</label>
    <textarea name="detalle" [value]="nuevoHistorial.detalle" (input)="cambiarDetalle($event)" cols="30" rows="10"></textarea> <p>{{ nuevoHistorial.detalle}}</p>
</fieldset>
<fieldset>
    <label for="">URL de la Imagen</label>
    <input type="url" name="imagen" [value]="nuevoHistorial.imagen" (input)="cambiarImagen($event)"> <p>{{ nuevoHistorial.imagen}}</p>
</fieldset>
<fieldset>
    <button type="button" role="button" (click)="guardarHistorial()"> Guardar </button>
</fieldset>
</section>

<section>
    <article *ngFor="let item of elementosGuardados">
        <img [src]="item.imagen" height="150" width="150">

        <h2 *ngIf="item.nombre; then aquiIf; else aquiElse"></h2>
        <ng-template #aquiIf>
<h2>{{ item.nombre }}</h2>
        </ng-template>
        <ng-template #aquiElse>
<h2>Sin Nombre</h2>
        </ng-template>

        <p *ngIf="item.detalle; then ifDetalle; else elseDetalle"></p>
        <ng-template #ifDetalle>
            <p> {{item.detalle}}</p>
        </ng-template >
        <ng-template #elseDetalle>
            <p>Sin Detalle</p>
        </ng-template>

    </article>
</section>